<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>0726_servlet_web</display-name>
 
	<servlet>
		<servlet-name>simple</servlet-name>
		<servlet-class>com.ict.edu.SimpleServlet</servlet-class>
	</servlet>  
  	<servlet-mapping>
  		<servlet-name>simple</servlet-name>
  		<url-pattern>/simple</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
		<servlet-name>wel</servlet-name>
		<servlet-class>com.ict.edu.Welcome</servlet-class>
	</servlet>  
  	<servlet-mapping>
  		<servlet-name>wel</servlet-name>
  		<url-pattern>/wel</url-pattern>
  	</servlet-mapping>
  
</web-app>